<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319192432397-v3roioostcqeef7r5sqnqhvnfi0tvdrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319192432397-v3roioostcqeef7r5sqnqhvnfi0tvdrg</string>
	<key>API_KEY</key>
	<string>AIzaSyAWUC1i0XIPyQUbdHAavRDZGqi961bFclQ</string>
	<key>GCM_SENDER_ID</key>
	<string>319192432397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.hatchtracksensor</string>
	<key>PROJECT_ID</key>
	<string>hatchtrack-6dae4</string>
	<key>STORAGE_BUCKET</key>
	<string>hatchtrack-6dae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319192432397:ios:de48e4d28f3a5a052eba44</string>
	<key>DATABASE_URL</key>
	<string>https://hatchtrack-6dae4.firebaseio.com</string>
</dict>
</plist>